---
//js
import MenuButton from "./Menu-button.astro";

const iconUser = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLXVzZXIiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogIDxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Ik04IDdhNCA0IDAgMSAwIDggMGE0IDQgMCAwIDAgLTggMCIgLz4KICA8cGF0aCBkPSJNNiAyMXYtMmE0IDQgMCAwIDEgNCAtNGg0YTQgNCAwIDAgMSA0IDR2MiIgLz4KPC9zdmc+CgoK"
const iconSkill = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLXRvb2wiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogIDxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Ik03IDEwaDN2LTNsLTMuNSAtMy41YTYgNiAwIDAgMSA4IDhsNiA2YTIgMiAwIDAgMSAtMyAzbC02IC02YTYgNiAwIDAgMSAtOCAtOGwzLjUgMy41IiAvPgo8L3N2Zz4KCgo="
const iconWork = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWJyaWVmY2FzZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+CiAgPHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+CiAgPHBhdGggZD0iTTMgN20wIDJhMiAyIDAgMCAxIDIgLTJoMTRhMiAyIDAgMCAxIDIgMnY5YTIgMiAwIDAgMSAtMiAyaC0xNGEyIDIgMCAwIDEgLTIgLTJ6IiAvPgogIDxwYXRoIGQ9Ik04IDd2LTJhMiAyIDAgMCAxIDIgLTJoNGEyIDIgMCAwIDEgMiAydjIiIC8+CiAgPHBhdGggZD0iTTEyIDEybDAgLjAxIiAvPgogIDxwYXRoIGQ9Ik0zIDEzYTIwIDIwIDAgMCAwIDE4IDAiIC8+Cjwvc3ZnPgoKCg=="
const iconGetintouch = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLW1haWwiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogIDxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Ik0zIDdhMiAyIDAgMCAxIDIgLTJoMTRhMiAyIDAgMCAxIDIgMnYxMGEyIDIgMCAwIDEgLTIgMmgtMTRhMiAyIDAgMCAxIC0yIC0ydi0xMHoiIC8+CiAgPHBhdGggZD0iTTMgN2w5IDZsOSAtNiIgLz4KPC9zdmc+CgoK"
//Social
const iconLinkedin="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWJyYW5kLWxpbmtlZGluIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICA8cGF0aCBkPSJNNCA0bTAgMmEyIDIgMCAwIDEgMiAtMmgxMmEyIDIgMCAwIDEgMiAydjEyYTIgMiAwIDAgMSAtMiAyaC0xMmEyIDIgMCAwIDEgLTIgLTJ6IiAvPgogIDxwYXRoIGQ9Ik04IDExbDAgNSIgLz4KICA8cGF0aCBkPSJNOCA4bDAgLjAxIiAvPgogIDxwYXRoIGQ9Ik0xMiAxNmwwIC01IiAvPgogIDxwYXRoIGQ9Ik0xNiAxNnYtM2EyIDIgMCAwIDAgLTQgMCIgLz4KPC9zdmc+CgoK"
const iconGithub="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWJyYW5kLWdpdGh1YiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+CiAgPHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+CiAgPHBhdGggZD0iTTkgMTljLTQuMyAxLjQgLTQuMyAtMi41IC02IC0zbTEyIDV2LTMuNWMwIC0xIC4xIC0xLjQgLS41IC0yYzIuOCAtLjMgNS41IC0xLjQgNS41IC02YTQuNiA0LjYgMCAwIDAgLTEuMyAtMy4yYTQuMiA0LjIgMCAwIDAgLS4xIC0zLjJzLTEuMSAtLjMgLTMuNSAxLjNhMTIuMyAxMi4zIDAgMCAwIC02LjIgMGMtMi40IC0xLjYgLTMuNSAtMS4zIC0zLjUgLTEuM2E0LjIgNC4yIDAgMCAwIC0uMSAzLjJhNC42IDQuNiAwIDAgMCAtMS4zIDMuMmMwIDQuNiAyLjcgNS43IDUuNSA2Yy0uNiAuNiAtLjYgMS4yIC0uNSAydjMuNSIgLz4KPC9zdmc+CgoK"
const iconSkype="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWJyYW5kLXNreXBlIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICA8cGF0aCBkPSJNMTIgM2E5IDkgMCAwIDEgOC42MDMgMTEuNjVhNC41IDQuNSAwIDAgMSAtNS45NTMgNS45NTNhOSA5IDAgMCAxIC0xMS4yNTMgLTExLjI1M2E0LjUgNC41IDAgMCAxIDUuOTUzIC01Ljk1NGE4Ljk4NyA4Ljk4NyAwIDAgMSAyLjY1IC0uMzk2eiIgLz4KICA8cGF0aCBkPSJNOCAxNC41Yy41IDIgMi4zNTggMi41IDQgMi41YzIuOTA1IDAgNCAtMS4xODcgNCAtMi41YzAgLTEuNTAzIC0xLjkyNyAtMi41IC00IC0yLjVzLTQgLTEgLTQgLTIuNWMwIC0xLjMxMyAxLjA5NSAtMi41IDQgLTIuNWMxLjY0MiAwIDMuNSAuNSA0IDIuNSIgLz4KPC9zdmc+CgoK"

---
<div class="mainNav flex flex-col justify-end  flex-wrap  w-full  bg-purple-900 ">

  <nav class="bg-purple-950 w-full ms-auto  text-white  flex flex-col gap-10 min-h-full justify-around md:w-14 md:py-4 lg:p-10  fixed right-0 top-0 ">
    <button class="navbar-toggler ms-auto flex flex-col gap-1 py-1 px-3 justify-center align-middle border-2 border-white rounded m-3  h-10 w-12" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-line bg-white  w-full"></span>
      <span class="navbar-line bg-white  w-full"></span>
      <span class="navbar-line bg-white  w-full"></span>
    </button>

    <MenuButton  href="#about-me" ><img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconSkill} /> hola1</MenuButton>
    <MenuButton  href="#about-me" ><img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconSkill} />Skills</MenuButton>
    <MenuButton  href="#about-me" ><img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconWork} />Work</MenuButton>
    <MenuButton  href="#about-me" > <img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconGetintouch} />Get in touch</MenuButton>
      
    <footer class='gap-5 flex justify-center md:flex-col '>
    <MenuButton  href="https://www.linkedin.com/in/mariolafuente/" ><img class="icon" alt="About Mario Lafuente Frontend Developer" src={iconLinkedin} />linkedin</MenuButton>
    <MenuButton  href="https://github.com/mlafuentecr" ><img class="icon" alt="About Mario Lafuente Frontend Developer" src={iconGithub} />github</MenuButton>
    <MenuButton  href="https://is.gd/FDybJJ" ><img class="icon" alt="About Mario Lafuente Frontend Developer" src={iconSkype} />skype</MenuButton>
    </footer> 
  </nav>
</div>
