---
//js
import MenuButton from "./Menu-button.astro";
import {iconUser, iconSkill, iconWork , iconGetintouch, iconLinkedin, iconGithub, iconSkype} from '../icons.js';
---
<div class="mainNav flex flex-col justify-end  flex-wrap  ">

  <nav class="bg-purple-950  md:fixed md:ms-auto  text-white  flex flex-col gap-10 min-h-full justify-around md:py-4    right-0 top-0 ">
    <button  class="navbar-toggler ms-auto flex flex-col gap-1 py-1 px-3 justify-center align-middle border-2 border-white rounded m-3  h-10 w-12" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-line bg-white  w-full"></span>
      <span class="navbar-line bg-white  w-full"></span>
      <span class="navbar-line bg-white  w-full"></span>
    </button>

    <MenuButton  href="#about-me" ><img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconSkill} /> hola1</MenuButton>
    <MenuButton  href="#about-me" ><img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconSkill} />Skills</MenuButton>
    <MenuButton  href="#about-me" ><img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconWork} />Work</MenuButton>
    <MenuButton  href="#about-me" > <img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconGetintouch} />Get in touch</MenuButton>
      
    <footer class='gap-5  capitalize '>
      <MenuButton  href="https://www.linkedin.com/in/mariolafuente/" > <img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconLinkedin} />linkedin</MenuButton>
      <MenuButton  href="https://github.com/mlafuentecr" > <img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconGithub} />github</MenuButton>
      <MenuButton  href="https://is.gd/FDybJJ" > <img slot="before" alt="About Mario Lafuente Frontend Developer" src={iconSkype} />skype</MenuButton>
    </footer> 
  </nav>
</div>
<script>
 const buttons = document.querySelectorAll('button.navbar-toggler')
 const mainNav = document.querySelector('.mainNav');
 // Handle clicks on each button.
 buttons.forEach((button,) => {
    button.addEventListener('click', () => {
      mainNav?.classList.toggle("active")
    });
  });
</script>