---
import Layout from '../layouts/Layout.astro';
import GetinTouch from '../components/index/Get-in-touch.astro';
import Aboutme from '../components/index/Aboutme.astro';
import Skills from '../components/index/Skills.astro';
import getInTouchImg from '../assets/images/map.png';
import MainMenu from '../components/menu/Main-menu.astro';
import { homePagePostsQuery } from "../lib/api";
import Gallery from '../components/index/gallery.astro';

const data = await homePagePostsQuery();
const {skillsTitle, skills, seoTitle, seoDescription, contactMe, gallerySection, aboutText, aboutTecnologiesItems, aboutImg} = data.pageBy.acf_index;
//console.log(skillsTitle, seoTitle, seoDescription, contactMe, aboutText, aboutTecnologiesItems, aboutImg)
//const posts = data.posts.nodes;
//console.log( gallerySection )

---

<Layout title={seoTitle || 'Front End Web Developer from Costa Rica Front End Web Developer'} description={seoDescription} >
	<MainMenu />
	<main class="index bg-cyan  min-h-screen">
		<Aboutme content={aboutText}  img={aboutImg} technologies={aboutTecnologiesItems}/>
		<Skills skills={skills} contentText={skillsTitle} />
		<Gallery gallerySection={gallerySection}/>
		<GetinTouch title="Get In Touch" body={contactMe} image={getInTouchImg}/>
	</main>
</Layout>

<script src="../../public/js/animations.js"></script>